@use "../scss/variables" as *;

.title-sections {
    font-family: $font-family;
    color: $color-yellow;
    font-weight: 900;
    font-size: 0.9rem;
}

@media (min-width: $breakpoint-sm) {
    .title-sections {
        font-size: 1rem;
    }
}

.description-sections {
    font-family: $font-family-logo;
    font-size: clamp(1.2rem, 4vw, 1.9rem);
    line-height: 1.3;
}
